.detailCover {
    background-color: hsl(216, 8%, 12%);
    height: 100%;
    width: 100%;
    color: aliceblue;
    display: grid;
    grid-template-columns: 8vw 62vw 30vw;
    grid-template-areas: "navi . List";
}

.messageCover {
    height: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    ". title ."
    ". message ."
    ". Form .";
}

.messageTitleCover {
    grid-area: title;
    text-align: center;
}

.messageFormCover {
    grid-area: Form;
}

.messageFormDivCover {
    display: grid;
    grid-template-columns: 4fr;
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: #b3b3b3;
    overflow: hidden;
    border-radius: 20px;
}

.messageInput {
    grid-column: 1/4;
    background-color: #b3b3b3;
    border: none;
    font-size: 1.2em;
    outline: none;
}

.messageButton {
    grid-column: 4/5;
    border-radius: 20px;
    background-color: #77af9c;
    color: #d7fff1;
    font-size: 1em;
    cursor: pointer;
    transition: 0.25s;
    border: none;
}
.messageButton:hover{
    letter-spacing: 2px;
    transform: scale(1.1);
}

.userListCover {
    grid-area: List;
    background-color: #36393f;
}