.LoginCover {
    background-color: hsl(216, 8%, 12%);
    height: 100vh;
    width: 100vw;
    color: aliceblue;
    display: flex;
    align-items: center;
}

.LoginFrameBox {
    height: 60vh;
    width: 70vw;
    background-color: hsl(210, 3%, 25%);
    border-radius: 10px;
    margin: auto;
    top: 50%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
    ". . ."
    ". LoginTitle ."
    ". LoginDiv ."
    ". LoginDiv ."
    ". LoginDiv ."
    ". LoginDiv .";
}

.LoginTitle{
    font-size: 3em;
    grid-area: LoginTitle;
    text-align: center;
}

.LoginDiv{
    grid-area: LoginDiv;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.LoginError{
    grid-row: 4/5;
    text-align: center;
}

.LoginForm{
    grid-row: 1/4;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.LoginFormIdDiv{
    grid-row: 1/2;
    width: 100%;
    margin: 10px;
}

.LoginFormPWDiv{
    grid-row: 2/3;
    width: 100%;
    border-radius: 5px;
}

.LoginFormButton{
    grid-row: 3/4;
    margin: auto;
    width: 20%;
}
