.messageCover {
    height: 80px;
    border-radius: 20px;
    margin: 5px 10px;
    transition: 0.2s;
    cursor: pointer;
}

.messageCover:hover {
    background-color: #a5a8ac;
}

.messageDelete {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
    background-color: red;
    font-size: medium;
    color: aliceblue;
}

.messageDelete:hover{
    letter-spacing: 2px;
    transform: scale(1.1);
}
