.userCover {
    background-color: hsl(216, 8%, 12%);
    height: 100vh;
    width: 100vw;
    color: aliceblue;
    display: grid;
    grid-template-columns: 8% 1fr 30%;
    grid-template-areas: "navi profile List";
}

.userProfileCover {
    grid-area: profile;
}

.userProfileTitle {
    text-align: center;
    margin: 10px;
}

.userProfileForm {
    text-align: center;
}

.userProfileFormName {
    margin: 10px;
}

.userProfileFormDiv {
    display: grid;
    grid-template-columns: 3fr;
    margin: auto;
    background-color: #b3b3b3;
    overflow: hidden;
    border-radius: 20px;
    width: 80%;
    padding: 10px;
}

.userProfileFormInput {
    grid-column: 1/3;
    background-color: #b3b3b3;
    border: none;
    font-size: 1.2em;
    outline: none;
}

.userProfileFormButton {
    grid-column: 3/4;
    text-align: center;
    border-radius: 20px;
    background-color: #77af9c;
    color: #d7fff1;
    font-size: 1em;
    cursor: pointer;
    transition: 0.25s;
    border: none;
}
.userProfileFormButton:hover{
    letter-spacing: 2px;
    transform: scale(1.1);
}

.userListCover {
    grid-area: List;
    background-color: #36393f;
}
